section {
    margin: 10px 0px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 15px 15px 15px;
}

h2 {
    margin-top: 0px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-child-grow {
    flex: 1 0 auto;
}

.flex-child-static {
    flex: 0 0 content;
}
